<div class="container">
  <h2 class="title-lg mt"><%= t('device.registrations.sign_up')%></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text-field", id: "email-field" %>
    </div>

    <div class="field mt-sm">
      <%= f.label :password, t('device.registrations.password') %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-text-field", id: "password-field" %>
    </div>

    <div class="field mt-sm">
      <%= f.label :password_confirmation, t('device.registrations.password_confirmation') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-text-field", id: "password-confirm-field" %>
    </div>

    <div class="actions mt mb-sm">
      <%= f.submit t('device.registrations.sign_up'), class: "button button-main", id: "submit-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
