<div class="container">
  <h1 class="title-lg mt-lg mb"><%= @new.topic %></h1>
  <div class="mt new new-body"><%= @new.body %></div>

  <div>
    <div class="mt">
      <%= form_with url: 'show' do |form| %>
        <%= form.submit( t('new.comments'), id: 'show-comments-btn', class: "button button-main" ) %>
      <% end %>
    </div>
    <div class="mt">
      <%= form_with url: 'new' do |form| %>
        <%= form.submit( t('new.new_comment'), id: 'new-comment-btn', class: "button button-main" ) %>
      <% end %>
    </div>
  </div>

  <div id="result-container"></div>

  <div class="mt"><%= link_to t('button.back'), "/themes/#{@new.theme_id}" %></div>
</div>