<div class="container">
  <h1 class="title-lg mt-lg mb"><%= @new.topic %></h1>
  <div class="mt new"><%= @new.body %></div>

  <div>
    <div class="mt">
      <%= form_with url: 'show' do |form| %>
        <%= form.submit('Comments', id: 'show-comments-btn') %>
      <% end %>
    </div>
    <div class="mt">
      <%= form_with url: 'new' do |form| %>
        <%= form.submit('Write comment', id: 'new-comment-btn') %>
      <% end %>
    </div>
  </div>

  <div id="result-container"></div>

  <div class="mt"><%= link_to t("button.back"), "/themes/#{@new.theme_id}" %></div>
</div>