<!DOCTYPE html>
<html>
  <head>
    <title>ForumNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header class="navbar">
    <span class="link"><%= link_to t('menu.home'), root_path %></span>
    <div>
      <% I18n.available_locales.each do |locale|%>
        <span class="link">
          <%= link_to locale, root_path(locale: locale)%>
        </span>
      <% end %>
    <div>
     <% if current_user %>
      <span class="current-user"><%= current_user.email %>
      <div class="log-out-btn"><%= button_to t("menu.log_out"), destroy_user_session_path, method: :delete, data: { turbo: false }, class: "button button-logout" %></div>
    <% else %>
      <span class="link"><%= link_to t("menu.register"), new_user_registration_path %></span>
      <span class="link"><%= link_to t("menu.log_in"), new_user_session_path %></span>
    <% end %>
  </header>

  <body>
    <div class="wrapper">
      <% if flash[:notice].present? %>
        <p class="message notice"><%= notice %></p>
      <% elsif flash[:alert].present? %>
        <p class="message alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
