<!DOCTYPE html>
<html>
  <head>
    <title>Analytics & News</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header class="navbar">
    <span class="link"><%= link_to "Главная", root_path %></span>
     <% if current_user %> 
      <span class="current-user"><%= current_user.email %>
      <div class="log-out-btn"><%= button_to "Выйти", destroy_user_session_path, method: :delete, data: { turbo: false } %></div>
    <% else %>
      <span class="link"><%= link_to "Регистрация", new_user_registration_path %></span>
      <span class="link"><%= link_to "Войти", new_user_session_path %></span>
    <% end %>
  </header>

  <body>
    <div class="wrapper">
      <p class="message notice"><%= notice %></p>
      <p class="message alert"><%= alert %></p>
      <%
=begin%>
  <%= link_to "Dashboard", static_pages_dashboard_path %>
      <% if current_user %> 
        <%= current_user.email %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      <% else %>
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
      <%= link_to "Home", root_path %> 
  <%
=end%>
      <%= yield %>
    </div>
  </body>
</html>
